<section class="hero-section" id="home">
    <div class="hero-content">
        <h1>Empowering Your Digital Presence</h1>
        <p>We provide innovative solutions to help your business thrive in the modern digital landscape. From
            cutting-edge web development to strategic digital marketing, we've got you covered.</p>
        <button class="call-to-action-button">Learn More</button>
    </div>
    <div class="hero-image">
        <img src="../../assets/tech company-bro.svg" alt="Digital Presence Illustration">
    </div>
</section>